.ml-auto{
  margin-left: auto;
}
.mt-50{
  margin-top: 50px;
}
.tittle{
  font-size: 40px;
  font-weight: bold;
}
.para{
  font-size: 30px;
  font-weight: 400;
}
.card_portion{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
}
.card_small{
  padding: 9px;
  border: 1px solid grey;
  border-radius: 20px;
}
.image_card{
  width: 100%;
  height: 300px;
}
.image_card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.small_image{
  width: 60px;
  height: 60px;
  border-radius: 100% !important;
}

.small_image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}